* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.first-block {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

.first-block > header > .nav {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    margin-bottom: 33px;
}

.first-block > header > .nav > a {
    color: #828282;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    height: 0px;
    border: 1px solid #828282;
}

.first-block > .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 33px;
    margin-bottom: 33px;
}

.first-block > .name > h1 {
    font-size: 49px;
    color: #070707;
}

.first-block > .name > pre {
    font-size: 18px;
    color: #070707;
}

.about {
    background: #F6F6F6;
    padding-bottom: 70px;
}

.about > h2 {
    font-size: 34px;
    padding-top: 70px;
    text-align: center;
    margin-bottom: 33px;
}

.about > .text > p {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 10px;
    text-align: center;
}

.second-block {
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
    width: 940px;
    margin-bottom: 70px;
}

.second-block > h2 {
    font-size: 34px;
    color: #070707;
    text-align: center;
}

.second-block > h4 {
    font-size: 18px;
    color: #070707;
    margin-top: 33px;
    text-align: center;
}

.second-block > .skills {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
}

.second-block > .skills > .skill > p {
    color: #000000;
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.second-block > .skills > .skill > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.third-block {
    margin-top: 70px;
    background-color: #f6f6f6;
}

.third-block > h2 {
    text-align: center;
    padding-top: 70px;
    font-size: 34px;
}

.third-block > img {
    display: block;
    margin: 0 auto;
    padding-top: 33px;
}

.third-block > p {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    padding-top: 15px;
    padding-bottom: 70px;
}

footer {
    background: #FFFFFF;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
    width: 940px;
}

footer > h2 {
    text-align: center;
    font-size: 34px;
    line-height: 18px;
}

footer > p {
    padding-top: 33px;
    text-align: center;
    font-size: 18px;
}

footer > button {
    background-color: #070707;
    border: 1px solid #070707;
    border-radius: 5%;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    margin: 33px auto;
    display: block;
    cursor: pointer;
}

footer > button:hover {
    background-color: #828282;
    border: 1px solid #828282;
    transition: all 500ms ease; 
}

footer > .socials {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 35px;
    color: #828282;
    font-size: 14px;
}

footer > .socials > p {
    margin-top: 10px;
}

@media only screen and (max-width: 1200px) {
    .first-block, .about, .second-block, footer {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .second-block > .skills {
    }

    .second-block > .skills > .skill > .stars {
        margin-left: auto;
        margin-right: auto;
        width: 130px;
        margin-bottom: 33px;
    }


    .first-block > img {
        width: 800px;
    }

    .third-block {
        width: 800px;
    }

    .third-block > img {
        width: 800px;
    }
}